{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "printWidth": 120,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "svelteSortOrder" : "styles-scripts-markup",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "plugins": ["prettier-plugin-svelte"]
  }