@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.cdnfonts.com/css/whitney-2');
html {
    overflow-y: scroll;
    background-color: #292b2f;
    color: #dcddde;
   
}

* {
    /* font-family: "Source Sans Pro", sans-serif; */
    /* font-family: 'Whitney', sans-serif; */
    /* font-family: 'Balsamiq Sans', cursive; */
    font-family: "Averia Sans Libre", cursive;
    /* font-family: 'Grandstander', cursive; */
    /* font-family: 'Delius', cursive; */
}

/* remove tap highlight color in mobile */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Scroll bar beautify */

/* width */

::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #36393f;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 100vh;
    /* border: 3px solid #edf2f7; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}